---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200..800&display=swap"
			rel="stylesheet"
		/>
		<script>
			var uIp;
			fetch("https://api.ipify.org?format=json")
				.then((response) => response.json())
				.then((data) => {
					console.log(data.ip);
					uIp = data.ip;

					if (uIp != "85.106.97.31") {
						alert("Access denied.");
						setInterval(() => {
							alert("Access denied.");
						}, 3000);
					}
				})
				.catch((error) => {
					console.log("Error:", error);
				});
		</script>
	</head>
	<body
		class="m-0 p-0 overflow-hidden bg-black text-white font-sans flex flex-col w-full h-screen justify-start items-start"
	>
		<nav
			class="flex w-full h-auto flex-row justify-between items-center px-5 py-2"
		>
			<div
				id="logo"
				class="font-black relative text-2xl flex flex-row justify-center items-center gap-4
				before:shadow-2xl before:opacity-0 has-[span:hover]:before:opacity-100 has-[span:hover]:before:translate-y-0 before:-translate-y-2 before:pointer-events-none before:transition-all before:absolute before:px-4 before:py-2 before:-bottom-10 before:w-max before:left-2 before:bg-zinc-900 before:z-50 before:text-base before:font-normal before:rounded-full before:rounded-tl-md"
			>
				<span class="opacity-90 cursor-help">
					<img
						class="size-8 aspect-square"
						src="https://theapps.vercel.app/logoWHITEFG.svg"
						alt="THE logo"
					/>
				</span>
				<div class="w-[1px] h-8 bg-white bg-opacity-20 rotate-[24deg]">
				</div>
				<a href="/" class="notLink">mono</a>
				<div
					class="px-2 py-1 bg-white bg-opacity-5 font-normal text-xs"
				>
					BETA DEVELOPMENT <b class="font-black">PREVIEW</b>
				</div>
			</div>
			<div>
				See <a href="/">About & Credits</a>
			</div>
		</nav>

		<main class="flex justify-start items-start w-full h-full">
			<div id="sideBar" class="!hover:transition-all !transition-all flex flex-col gap-3 py-2 h-full w-[4.5rem] max-w-[4.5rem] hover:w-[14rem] shrink-0 hover:max-w-[14rem]">
				<div class="sidePages active">
					<span class="sideIndicator"></span>
					<div class="text-teal-500">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="currentColor"
							class="size-6"
							><path stroke="none" d="M0 0h24v24H0z" fill="none"
							></path><path
								d="M12.707 2.293l9 9c.63 .63 .184 1.707 -.707 1.707h-1v6a3 3 0 0 1 -3 3h-1v-7a3 3 0 0 0 -2.824 -2.995l-.176 -.005h-2a3 3 0 0 0 -3 3v7h-1a3 3 0 0 1 -3 -3v-6h-1c-.89 0 -1.337 -1.077 -.707 -1.707l9 -9a1 1 0 0 1 1.414 0m.293 11.707a1 1 0 0 1 1 1v7h-4v-7a1 1 0 0 1 .883 -.993l.117 -.007z"
							></path></svg
						>
					</div>

					<span class="title">Home</span>
				</div>
				<div class="sidePages">
					<span class="sideIndicator"></span>
					<div class="text-teal-500">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2.5"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="size-6"
							><path stroke="none" d="M0 0h24v24H0z" fill="none"
							></path><path d="M12 5l0 14"></path><path
								d="M5 12l14 0"></path></svg
						>
					</div>
					<span class="title">Create</span>
				</div>
				<div class="sidePages">
					<span class="sideIndicator"></span>
					<div class="text-teal-500">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="currentColor"
							class="size-6"
							><path stroke="none" d="M0 0h24v24H0z" fill="none"
							></path><path
								d="M17 3.34a10 10 0 1 1 -15 8.66l.005 -.324a10 10 0 0 1 14.995 -8.336zm-5 14.66a1 1 0 1 0 0 2a1 1 0 0 0 0 -2zm3.684 -10.949l-6 2a1 1 0 0 0 -.633 .633l-2.007 6.026l-.023 .086l-.017 .113l-.004 .068v.044l.009 .111l.012 .07l.04 .144l.045 .1l.054 .095l.064 .09l.069 .075l.084 .074l.098 .07l.1 .054l.078 .033l.105 .033l.109 .02l.043 .005l.068 .004h.044l.111 -.009l.07 -.012l.02 -.006l.019 -.002l.074 -.022l6 -2a1 1 0 0 0 .633 -.633l2 -6a1 1 0 0 0 -1.265 -1.265zm-1.265 2.529l-1.21 3.629l-3.629 1.21l1.21 -3.629l3.629 -1.21zm-9.419 1.42a1 1 0 1 0 0 2a1 1 0 0 0 0 -2zm14 0a1 1 0 1 0 0 2a1 1 0 0 0 0 -2zm-7 -7a1 1 0 1 0 0 2a1 1 0 0 0 0 -2z"
							></path></svg
						>
					</div>
					<span class="title">Discover</span>
				</div>
				<hr class="mx-6 my-1.5 opacity-40" />
				<div class="h-full w-full pb-12 overflow-y-auto flex flex-col gap-3">
					<div class="sidePages">
						<span class="sideIndicator"></span>
						<div>a</div>
						<span class="title">Community A</span>
					</div>
					<div class="sidePages">
						<span class="sideIndicator"></span>
						<div>b</div>
						<span class="title">Community bbbbbbbbbbbbbb</span>
					</div>
					<div class="sidePages">
						<span class="sideIndicator"></span>
						<div>c</div>
						<span class="title">Community bbbbbbbbbbbbbb</span>
					</div>
					<div class="sidePages">
						<span class="sideIndicator"></span>
						<div>d</div>
						<span class="title">Community bbbbbbbbbbbbbb</span>
					</div>
					<div class="sidePages">
						<span class="sideIndicator"></span>
						<div>e</div>
						<span class="title">Community bbbbbbbbbbbbbb</span>
					</div>
					<div class="sidePages">
						<span class="sideIndicator"></span>
						<div>f</div>
						<span class="title">Community bbbbbbbbbbbbbb</span>
					</div>
					<div class="sidePages">
						<span class="sideIndicator"></span>
						<div>g</div>
						<span class="title">Community bbbbbbbbbbbbbb</span>
					</div>
					<div class="sidePages">
						<span class="sideIndicator"></span>
						<div>h</div>
						<span class="title">Community bbbbbbbbbbbbbb</span>
					</div>
					<div class="sidePages">
						<span class="sideIndicator"></span>
						<div>i</div>
						<span class="title">Community bbbbbbbbbbbbbb</span>
					</div>
					<div class="sidePages">
						<span class="sideIndicator"></span>
						<div>j</div>
						<span class="title">Community bbbbbbbbbbbbbb</span>
					</div>

				</div>
			</div>

			<div
				class="w-full px-4 py-2 h-full bg-zinc-950 rounded-tl-3xl overflow-auto"
			>
				<slot />
			</div>
		</main>
	</body>
</html>
<style is:global>
	body {
		scrollbar-gutter: stable both-edges;
	}

	::-webkit-scrollbar {
		@apply bg-transparent w-2.5 h-2.5;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-white bg-opacity-30 rounded-full;
		border: 0.3rem solid black;
	}

	#logo::before {
		content: "Mono is developed and designed by THE Apps.";
	}

	::selection {
		@apply bg-teal-500 bg-opacity-15;
	}

	a:not(.notLink) {
		@apply text-sky-300 font-semibold underline underline-offset-2 hover:opacity-80;
	}

	.sidePages {
		@apply flex flex-row relative items-center justify-start gap-2 pr-3 cursor-pointer;
	}

	.sideIndicator {
		@apply block shrink-0 w-1 h-0 opacity-0 bg-white rounded-r-full transition-all;
	}

	.sidePages:hover .sideIndicator {
		@apply h-5 opacity-80;
	}

	.sidePages div {
		@apply !shrink-0 !transition-all rounded-full bg-white bg-opacity-5 flex aspect-square h-12 w-12 justify-center items-center text-xl font-bold;
	}

	.sidePages.active .sideIndicator {
		@apply h-10 bg-white opacity-100;
	}

	.sidePages.active div,
	.sidePages:hover div {
		@apply rounded-xl !transition-all;
	}

	.sidePages .title {
		@apply text-white h-6 w-full text-clip overflow-hidden break-all;
	}

	.mainButton {
		@apply p-2 shadow-lg hover:translate-y-1 flex justify-center items-center gap-1 rounded-md bg-white border border-white border-opacity-10 bg-opacity-5 hover:bg-opacity-10 transition-all;
	}
</style>
